<!-- views/partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
        
        <div id="#icon">
            Welcome <%= user.username %>
        </div>
        
        <div id="links">
            <a href="/arts">All work</a>
            <a href="/arts/myarts">Your work</a>
            <a href="/auth/sign-out">Sign Out</a>
        </div>
        
    <% } else { %>
        
        <div id="#icon">
            Gr8Art
        </div>
        
        <div id="links">
            <a href="/auth/sign-in">Sign In</a>
            <a href="/auth/sign-up">Sign Up</a>
        </div>
    <% } %>
  </nav>
  