<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Look upon these works!</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %> // add your nav here
  <h1>I love your work!</h1>
  <a href="/arts/new">Make more art!</a>
</body>
</html>
