<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gr8Art</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Refer to app.js for most of body of this page -->
    <script src="/scripts/app.js" defer></script> 

</head>
    <body>
        <%- include('../partials/_navbar.ejs') %> 
            <div id="toolbar">
                <button id="grid-toggle" onclick="gridToggle()">Grid on/off</button>
                <p>new grid:</p><button id="grid-size" onclick="gridSize()">Grid size 8x8</button>
            </div>
            
            <div id="edit-container">
                <div class="flex-container" id="new-container">
                <!-- what JS is updating with 
                    <div id="cell1" class="flex-item">1</div> 64 times -->
                </div>
                <div id="palette">
                </div>
            
            </div>


            <p>16x16 grid available on desktop.</p>
            
            <p>Current color: <span style="background-color: black;" id="selected-color">■■</span></p>
            <label for="color-select">Select your color:</label>
            <select name="color" id="color-select">
                <!-- <option value="black">Black</option>
                for everything in app.js colors -->
            </select>
            <button id="fill" onclick="fill()">Fill with color</button>

            <form action="/arts" method="POST" id="art-form">
                
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
                
                <br>
                
                <label for="description">Description:</label>
                
                <br>

                <textarea name="description" id="description"></textarea>

                <input type="hidden" id="colorArray" name="colorArray">

                <br>

                <button type="submit">Add art!</button>
            </form>
    </body>      
</html>