<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
  <link rel="icon" type="image/x-icon" href="/screenshots/favicon.ico">
</head>



<body>
  <%- include('./partials/_navbar.ejs') %> 
  <div id="homescreen">
    
    <div class="display-container">
        <% displayGrid.forEach(color => { %>
          <div class="flex-item" style="background-color:<%=color %>"> </div>
        <%}); %>
    </div> 

    <h1>Welcome to gr8Art</h1>
    <h2>an array based painting program</h2>
    <o>by Gabriel Gutierrez</o>
    <a href="https://github.com/Gabe-N-G/Gr8art">github repo</a>
    <p>
      <a href="/auth/sign-in">Sign in</a> or
      <a href="/auth/sign-up">Sign up</a>.
      
    </p>
  </div>
</body>
</html>
