* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    
  }
  
  .flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%; 
    height: 12.5%;
    background-color: grey;
    border: 2px dashed black;
  }
  
  .flex-item:hover {
    background-color: limegreen;
  }
  